.custom-carousel .carousel-caption {
  background-color: black; /* Set the background color to black */
  opacity: 0.9; /* Optional: To make the caption semi-transparent */
  color: white; /* Optional: To set the text color to white */
  border-radius: 5px;
  align-items: center;
}

.carousel-item > img {
  object-fit: scale-down;
  opacity: 0.1;
}

.d-none {
  display: block !important;
}

@media (max-width: 768px) {
  .carousel-item {
    flex: 0 0 100%; /* Show one item at a time on smaller screens */
    max-width: 100%; /* Show one item at a time on smaller screens */
  }
}
