.custom-carousel .carousel-caption {
  color: white;
  border-radius: 5px;
  align-items: center;
  font-weight: 400;
  font-size: 1.0625rem;
}

.carousel-item > img {
  object-fit: scale-down;
  opacity: 0.2;
}

.d-none {
  display: block !important;
}

@media (max-width: 768px) {
  .carousel-item {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
